<ion-header no-shadow no-border>
  <ion-navbar>

    <ion-title>
      Scriba
    </ion-title>


    <ion-buttons end>
      <button ion-button large icon-start (click)="login()">
        <ion-icon name="log-in"> <span *ngIf="!mobile">Accedi</span></ion-icon>
      </button>
      <button ion-button large icon-start (click)="signUp()">
        <ion-icon name="person-add"> <span *ngIf="!mobile">Registrati</span></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content no-bounce>
  <ion-tabs tabsPlacement="top" tabsHighlight="true">
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Informazioni" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Contatti" tabIcon="contacts"></ion-tab>
  </ion-tabs>
</ion-content>



<!--<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Informazioni" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contatti" tabIcon="contacts"></ion-tab>
</ion-tabs>-->