<ion-toolbar>
    
</ion-toolbar>

<ion-content padding>
    <ion-header padding>
        <ion-navbar [hideBackButton]="recognizing || room!=null">
            <ion-title>
                {{intervent.title}}
            </ion-title>
            <ion-buttons *ngIf="!updating && intervent.status=='programmed'" end>
                <button ion-button icon-start (click)="updating=!updating">
                    <ion-icon name="create"> </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <ion-item>
        <ion-row>
            <ion-col>
                Il: {{formatDate(intervent.date)}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Durata: {{intervent.duration}} minuti
            </ion-col>
        </ion-row>
    </ion-item>
    <form *ngIf="updating" (ngSubmit)="submit()" #interventForm="ngForm">
        <ion-item >
            <ion-label inline>Titolo</ion-label>
            <ion-input type="text" ngControl="titleControl" [(ngModel)]="newData.title"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label inline>Inizio</ion-label>
            <ion-input type="datetime-local" ngControl="timeControl" [(ngModel)]="newData.date" #date="ngForm" ></ion-input>
        </ion-item>
        <div *ngIf="date.value<=now && date.touched">La data di Inizio deve essere POSTERIORE a questo momento!</div>
        <div *ngIf="(date.value<trunc(session.startDate) || date.value>trunc(session.endDate)) && date.touched">La data di Inizio deve cadere durante la Sessione!</div>

        <ion-item >
            <ion-label inline>Durata (minuti)</ion-label>
            <ion-input type="number" ngControl="durationControl" min="0" max="180" step="1" value="0" [(ngModel)]="newData.duration" #duration="ngForm" required></ion-input>
        </ion-item>
        <div *ngIf="((date.value+duration.value)>session.endDate) && duration.touched">L'Intervento deve terminare durante la Sessione!</div>

        <div *ngIf="overlapError.status">L'Intervento si sovrappone con "{{overlapError.intervent.title}}" programmato il {{formatDate(overlapError.intervent.date)}}, durata {{overlapError.intervent.duration}} minuti</div>

        <ion-item >
            <ion-label inline>Speaker (username)</ion-label>
            <ion-input type="text" ngControl="speakerControl" class="form-control" [(ngModel)]="newData.speaker" required></ion-input>
        </ion-item>

        <ion-item>
            <button ion-button type="submit" class="btn btn-standard" [disabled]="!interventForm.valid ||
                                                                    (date.value<=now && date.touched) ||
                                                                    ((date.value<trunc(session.startDate) || date.value>trunc(session.endDate)) && date.touched) ||
                                                                    (((date.value+duration.value)>session.endDate) && duration.touched)">Salva</button>
            <button ion-button type="reset" (click)="reset()">Annulla</button>
        </ion-item>
    </form>
    
    <ion-card>
        <ion-card-header>
            <ion-toolbar>
                <ion-buttons begin>
                    <button ion-button icon-start *ngIf="room==null" (click)="openRoom()">
                        <ion-icon name="play"><span *ngIf="!mobile"> Apri Stanza </span></ion-icon>
                    </button>
                    <button ion-button icon-start *ngIf="room!=null" (click)="closeRoom()" [disabled]="recognizing">
                        <ion-icon name="pause"><span *ngIf="!mobile"> Chiudi Stanza </span></ion-icon>
                    </button>
                </ion-buttons>
                <ion-buttons *ngIf="room!=null" end>
                    <button ion-button icon-start *ngIf="!recognizing" (click)="startRecognizing()">
                        <ion-icon name="mic"><span *ngIf="!mobile"> Avvia Trascrizione </span> </ion-icon>
                    </button>
                    <button ion-button icon-start *ngIf="recognizing" (click)="stopRecognizing()">
                        <ion-icon name="mic-off"><span *ngIf="!mobile"> Ferma Trascrizione </span> </ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card-header>
        <span padding>Lo Speaker dice:</span>
        <ion-card-content id="text">
            {{transcription}}
        </ion-card-content>
        <ion-item>
            <button ion-button icon-start *ngIf="room!=null" (click)="saveAndCloseRoom()" [disabled]="recognizing">
                Salva e Chiudi
            </button>
        </ion-item>
    </ion-card>
    <ion-card >
        <ion-card-header>
            <ion-toolbar>
                <ion-title>
                    Domande
                </ion-title>
            </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let quest of intervent.questions">
                    {{quest.user}}: {{quest.text}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    
</ion-content>
