<ion-toolbar>
    
</ion-toolbar>

<ion-content padding>
    <ion-header padding>
    <ion-navbar>
        <ion-title>
            Nuovo Evento
        </ion-title>
    </ion-navbar>
    </ion-header>

    <ion-card *ngFor="let event of events">
        <ion-card-header>
            <ion-toolbar>
                <ion-title>
                    {{event.title}}
                </ion-title>
                <ion-buttons end>
                    <button>
                        <ion-icon name="create"> </ion-icon>
                    </button>
                    <button>
                        <ion-icon name="trash"> </ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card-header>
    </ion-card>
    <ion-card *ngIf="!creatingEvent">
        <ion-card-header>
            <ion-icon name="add" (click)="creatingEvent=!creatingEvent"> Crea Evento</ion-icon>
        </ion-card-header>
    </ion-card>
    <form *ngIf="creatingEvent" (ngSubmit)="submit()" #eventForm="ngForm" padding>
        <ion-toolbar>
            <ion-title>
                Dati Evento
            </ion-title>
        </ion-toolbar>
        
        <ion-item >
            <ion-label inline>Titolo</ion-label>
            <ion-input type="text" ngControl="titleControl" [(ngModel)]="event.title" required></ion-input>
        </ion-item>

        <ion-item >
            <ion-label inline>Data</ion-label>
            <ion-input type="datetime-local" ngControl="dateControl" min="{{currentDate | date:'yyyy-MM-dd'}}" class="form-control" [(ngModel)]="event.date" required></ion-input>
        </ion-item>

        <ion-item >
            <ion-label inline>Luogo</ion-label>
            <ion-input type="text" ngControl="locationControl" class="form-control" [(ngModel)]="event.location" required></ion-input>
        </ion-item>

        
        <ion-item>
            <button type="submit" class="btn btn-standard" [disabled]="!eventForm.valid">Salva</button>
                {{eventForm.valid}}
            <button type="reset" (click)="creatingEvent=!creatingEvent">Annulla</button>
        </ion-item>
    </form>
    
</ion-content>
        
<!-- SESSIONI --
            <ion-toolbar>
                <ion-title>
                    Sessioni
                </ion-title>
            </ion-toolbar>
            <ion-list padding>
                <ion-card *ngFor="let session of event.sessions">
                    <ion-card-header>
                        Titolo: {{session.title}} <button item-right><ion-icon name="create"></ion-icon></button>
                    </ion-card-header>
                    <h2> Data: {{session.date}} - {{session.hour}} </h2>
                </ion-card>
            </ion-list>
            <form (ngSubmit)="submitSession()" #sessionForm="ngForm">
                <ion-item >
                    <ion-label inline>Titolo</ion-label>
                    <ion-input type="text" ngControl="titleControl" [(ngModel)]="session.title" required></ion-input>
                </ion-item>

                <ion-item >
                    <ion-label inline>Data</ion-label>
                    <ion-input type="date" ngControl="dateControl" min="{{currentDate | date:'yyyy-MM-dd'}}" class="form-control" [(ngModel)]="session.date" required></ion-input>
                </ion-item>

                <ion-item >
                    <ion-label inline>Ora</ion-label>
                    <ion-input type="time" ngControl="timeControl" class="form-control" [(ngModel)]="session.hour" required></ion-input>
                </ion-item>

        -- INTERVENTI --
                    <ion-toolbar>
                        <ion-title>
                            Interventi
                        </ion-title>
                    </ion-toolbar>
                    <ion-list padding>
                        <ion-card *ngFor="let intervent of session.intervents">
                            <ion-card-header>
                                Titolo: {{intervent.title}} <button><ion-icon name="create"></ion-icon></button> 
                            </ion-card-header>
                            Speaker: {{intervent.speaker}}
                            Data: {{intervent.date}} - {{intervent.hour}}
                        </ion-card>
                    </ion-list>
                    <form (ngSubmit)="submitIntervent()" #interventForm="ngForm">
                        <ion-item >
                            <ion-label inline>Titolo</ion-label>
                            <ion-input type="text" ngControl="titleControl" [(ngModel)]="intervent.title" required></ion-input>
                        </ion-item>

                        <ion-item >
                            <ion-label inline>Data</ion-label>
                            <ion-input type="date" ngControl="dateControl" min="{{currentDate | date:'yyyy-MM-dd'}}" class="form-control" [(ngModel)]="intervent.date" required></ion-input>
                        </ion-item>

                        <ion-item >
                            <ion-label inline>Ora</ion-label>
                            <ion-input type="time" ngControl="timeControl" class="form-control" [(ngModel)]="intervent.hour" required></ion-input>
                        </ion-item>

                        <ion-item >
                            <ion-label inline>Speaker</ion-label>
                            <ion-input type="text" ngControl="speakerControl" [(ngModel)]="intervent.speaker" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <button type="submit" class="btn btn-standard" [disabled]="!interventForm.valid">Salva</button>
                                {{interventForm.valid}}
                            <button type="reset">Azzera</button>
                        </ion-item>
                    </form>
        -- FINE INTERVENTI --


                <ion-item>
                    <button type="submit" class="btn btn-standard" [disabled]="!sessionForm.valid">Salva</button>
                        {{sessionForm.valid}}
                    <button type="reset">Azzera</button>
                </ion-item>
            </form>
-- FINE SESSIONI -->
