<ion-toolbar>
    <ion-title>
        Dati Nuovo Evento
    </ion-title>
</ion-toolbar>

<form (ngSubmit)="submit()" #eventForm="ngForm">
    <ion-item >
        <ion-label inline>Titolo</ion-label>
        <ion-input type="text" ngControl="titleControl" [(ngModel)]="event.title" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label inline>Data Inizio</ion-label>
        <ion-input type="datetime-local" ngControl="startDateControl" #sd="ngForm" [(ngModel)]="event.startDate" required></ion-input>
    </ion-item>
    <div *ngIf="sd.value<now && sd.touched">La data di Inizio deve essere POSTERIORE a questo momento!</div>
    
    <ion-item>
        <ion-label inline>Data Termine</ion-label>
        <ion-input type="datetime-local" ngControl="endDateControl" #ed="ngForm" [(ngModel)]="event.endDate" required></ion-input>
    </ion-item>
    <div *ngIf="sd.value>ed.value && ed.touched">La Data di Termine deve essere POSTERIORE a quella di Inizio!</div>

    <ion-item >
        <ion-label inline>Luogo</ion-label>
        <ion-input type="text" ngControl="locationControl" class="form-control" [(ngModel)]="event.location" required></ion-input>
    </ion-item>
    
    <ion-item>
        <button type="submit" class="btn btn-standard" [disabled]="!eventForm.valid ||
                                                                    (sd.value<now && sd.touched) ||
                                                                    (sd.value>ed.value && ed.touched)">Salva</button>
        <button type="reset" (click)="close()">Annulla</button>
    </ion-item>
</form>

<!--
    <ion-row>
        <ion-col width-50>
            <ion-item>
                <ion-label inline>Data Inizio</ion-label>
                <ion-datetime ngControl="startDateControl" displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" min={{options.minStartDate}} max={{options.maxStartDate}} [(ngModel)]="event.startDate"></ion-datetime>
            </ion-item>
        </ion-col>
        <ion-col width-50>
            <ion-item>
                <ion-label inline>Ora Inizio</ion-label>
                <ion-datetime ngControl="startTimeControl" displayFormat="HH:MM" pickerFormat="HH MM" min={{options.minStartTime}} max={{options.maxStartTime}} [(ngModel)]="event.startTime"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col width-50>
            <ion-item>
                <ion-label inline>Data Termine</ion-label>
                <ion-datetime ngControl="endDateControl" displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" min={{options.minEndDate}} max={{options.maxEndDate}} [(ngModel)]="event.endDate"></ion-datetime>
            </ion-item>
        </ion-col>
        <ion-col width-50>
            <ion-item>
                <ion-label inline>Ora Termine</ion-label>
                <ion-datetime ngControl="endTimeControl" displayFormat="HH:MM" pickerFormat="HH MM" min={{options.minEndTime}} max={{options.maxEndTime}} [(ngModel)]="event.endTime"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>
-->