<ion-toolbar>
    
</ion-toolbar>

<ion-content padding>
    <ion-header padding>
        <ion-navbar>
            <ion-title>
                {{event.title}} - Dal: {{formatDate(event.startDate)}} - Al: {{formatDate(event.endDate)}}
            </ion-title>
            <ion-buttons *ngIf="!updating && event.status=='programmed'" end>
                <button (click)="updating=!updating">
                    <ion-icon name="create"> </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>

    <form *ngIf="updating" (ngSubmit)="submit()" #eventForm="ngForm">

        <ion-item >
            <ion-label inline>Titolo</ion-label>
            <ion-input type="text" ngControl="titleControl" [(ngModel)]="newData.title" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label inline>Data Inizio</ion-label>
            <ion-input type="datetime-local" ngControl="startDateControl" #sd="ngForm" [(ngModel)]="newData.startDate"></ion-input>
        </ion-item>
        <div *ngIf="sd.value<=now && sd.touched">La data di Inizio deve essere POSTERIORE a questo momento!</div>
        
        <ion-item>
            <ion-label inline>Data Termine</ion-label>
            <ion-input type="datetime-local" ngControl="endDateControl" #ed="ngForm" [(ngModel)]="newData.endDate"></ion-input>
        </ion-item>
        <div *ngIf="sd.value>=ed.value && ed.touched">La Data di Termine deve essere POSTERIORE a quella di Inizio!</div>

        <ion-item >
            <ion-label inline>Luogo</ion-label>
            <ion-input type="text" ngControl="locationControl" class="form-control" [(ngModel)]="newData.location" required></ion-input>
        </ion-item>
        
        <ion-item>
            <button type="submit" class="btn btn-standard" [disabled]="!eventForm.valid ||
                                                                        (sd.value<=now && sd.touched) ||
                                                                        (sd.value>=ed.value && ed.touched)">Salva</button>
            <button type="reset" (click)="reset()">Annulla</button>
        </ion-item>
    </form>
    <ion-list>
        <ion-toolbar padding>
            <ion-title>
                SESSIONI
            </ion-title>
            <ion-buttons end>
                <button (click)="newSession()">
                <ion-icon name="add"><span *ngIf="!mobile"> Nuova Sessione</span></ion-icon>
                </button>
            </ion-buttons>    
        </ion-toolbar>
        <ion-card *ngFor="let session of sessions">
            <ion-card-header>
                <ion-toolbar>
                    <ion-title>
                        {{session.title}}
                    </ion-title>
                    <ion-buttons end>
                        <button (click)="openSession(session)">
                            <ion-icon name="navigate"> Apri </ion-icon>
                        </button>
                        <!--
                        <button (click)= "openSession(session)">
                            <ion-icon name="create"> </ion-icon>
                        </button>
                        -->
                        <button (click)="deleteSession(session)">
                            <ion-icon name="trash"> </ion-icon>
                        </button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-item text-wrap>Dal: {{formatDate(session.startDate)}} - Al: {{formatDate(session.endDate)}}</ion-item>
            </ion-card-header>
        </ion-card>
    </ion-list>
</ion-content>