<ion-toolbar>
    
</ion-toolbar>

<ion-content padding>
    <ion-header padding>
        <ion-navbar>
            <ion-title>
                {{event.title}} 
            </ion-title>
            <ion-buttons *ngIf="!updating && event.status=='programmed'" end>
                <button (click)="updating=!updating">
                    <ion-icon name="create"> </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <ion-item>
        <div>
            <ion-row>
                <ion-col>
                    Dal: {{formatDate(event.startDate)}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Al: {{formatDate(event.endDate)}}
                </ion-col>
            </ion-row>
        </div>
    </ion-item>
    <form *ngIf="updating" (ngSubmit)="submit()" #eventForm="ngForm">

        <ion-item >
            <ion-label inline>Titolo</ion-label>
            <ion-input type="text" ngModel name="titleControl" [(ngModel)]="newData.title" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label inline>Data Inizio</ion-label>
            <ion-input type="datetime-local" ngModel name="startDateControl" #sd="ngModel" [(ngModel)]="newData.startDate"></ion-input>
        </ion-item>
        <div *ngIf="sd.value<now && sd.touched">La data di Inizio deve essere POSTERIORE a questo momento!</div>
        
        <ion-item>
            <ion-label inline>Data Termine</ion-label>
            <ion-input type="datetime-local" ngModel name="endDateControl" #ed="ngModel" [(ngModel)]="newData.endDate"></ion-input>
        </ion-item>
        <div *ngIf="sd.value>ed.value && ed.touched">La Data di Termine deve essere POSTERIORE a quella di Inizio!</div>

        <ion-item >
            <ion-label inline>Luogo</ion-label>
            <ion-input type="text" ngModel name="locationControl" class="form-control" [(ngModel)]="newData.location" required></ion-input>
        </ion-item>
        
        <ion-item>
            <button type="submit" class="btn btn-standard" [disabled]="!eventForm.valid ||
                                                                        (sd.value<now && sd.touched) ||
                                                                        (sd.value>ed.value && ed.touched)">Salva</button>
            <button type="reset" (click)="reset()">Annulla</button>
        </ion-item>
    </form>
    <ion-list>
        <ion-toolbar padding>
            <ion-title>
                SESSIONI
            </ion-title>
            <ion-buttons end>
                <button (click)="newSession()">
                <ion-icon name="add"><span *ngIf="!mobile"> Nuova Sessione</span></ion-icon>
                </button>
            </ion-buttons>    
        </ion-toolbar>
        <ion-card *ngIf="sessions.length==0">
            Nessuna Sessione disponibile. Crea una sessione!
        </ion-card>
        <ion-card *ngFor="let session of sessions">
            <ion-card-header>
                <ion-toolbar>
                    <ion-title>
                        {{session.title}}
                    </ion-title>
                    <ion-buttons end>
                        <button (click)="openSession(session)">
                            <ion-icon name="navigate"> Apri </ion-icon>
                        </button>
                        <!--
                        <button (click)= "openSession(session)">
                            <ion-icon name="create"> </ion-icon>
                        </button>
                        -->
                        <button (click)="deleteSession(session)">
                            <ion-icon name="trash"> </ion-icon>
                        </button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-item text-wrap>Dal: {{formatDate(session.startDate)}} - Al: {{formatDate(session.endDate)}}</ion-item>
            </ion-card-header>
        </ion-card>
    </ion-list>
</ion-content>