<ion-toolbar>
    
</ion-toolbar>

<ion-content padding>
    <ion-header padding>
        <ion-navbar>
            <ion-title>
                {{session.title}}
            </ion-title>
            <ion-buttons *ngIf="!updating && session.status=='programmed'" end>
                <button (click)="updating=!updating">
                    <ion-icon name="create"> </ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <ion-item>
        <ion-row>
            <ion-col>
                Dal: {{formatDate(session.startDate)}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Al: {{formatDate(session.endDate)}}
            </ion-col>
        </ion-row>
    </ion-item>
    <form *ngIf="updating" (ngSubmit)="submit()" #sessionForm="ngForm">
        <ion-item >
            <ion-label inline>Titolo</ion-label>
            <ion-input type="text" ngControl="titleControl" [(ngModel)]="newData.title" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label inline>Data Inizio</ion-label>
            <ion-input type="datetime-local" ngControl="startDateControl" #sd="ngForm" [(ngModel)]="newData.startDate" ></ion-input>
        </ion-item>
        <div *ngIf="sd.value<=now && sd.touched">La data di Inizio deve essere POSTERIORE a questo momento!</div>
        <div *ngIf="(sd.value<event.startDate || sd.value>event.endDate) && sd.touched">La data di Inizio deve cadere durante l'Evento!</div>
        
        <ion-item>
            <ion-label inline>Data Termine</ion-label>
            <ion-input type="datetime-local" ngControl="endDateControl" #ed="ngForm" [(ngModel)]="newData.endDate" ></ion-input>
        </ion-item>
        <div *ngIf="sd.value>=ed.value && ed.touched">La Data di Termine deve essere POSTERIORE a quella di Inizio!</div>
        <div *ngIf="(ed.value<event.startDate || ed.value>event.endDate) && ed.touched">La data di Termine deve cadere durante l'Evento!</div>
        
        <!-- <div *ngIf="overlapError.status">La Sessione si sovrappone con "{{overlapError.session.title}}" programmata dal {{overlapError.session.startDate}} al {{overlapError.session.endDate}}</div> -->
        <ion-item>
            <button type="submit" class="btn btn-standard" [disabled]="!sessionForm.valid ||
                                                                        (sd.value<=now && sd.touched) ||
                                                                        (sd.value>=ed.value && ed.touched) ||
                                                                        ((sd.value<event.startDate || sd.value>event.endDate) && sd.touched) ||
                                                                        ((ed.value<event.startDate || ed.value>event.endDate) && ed.touched)">Salva</button>
            <button type="reset" (click)="reset()">Annulla</button>
        </ion-item>
    </form>
    <ion-list>
        <ion-toolbar padding>
            <ion-title>
                INTERVENTI
            </ion-title>
            <ion-buttons end>
                <button (click)="newIntervent()">
                <ion-icon name="add"><span *ngIf="!mobile"> Nuovo Intervento</span></ion-icon>
                </button>
            </ion-buttons>    
        </ion-toolbar>
        <ion-card *ngFor="let intervent of intervents">
            <ion-card-header>
                <ion-toolbar>
                    <ion-title>
                        {{intervent.title}}
                    </ion-title>
                    <ion-buttons end>
                        <button (click)="openIntervent(intervent)">
                            <ion-icon name="navigate"> Apri </ion-icon>
                        </button>
                        <button (click)="deleteIntervent(intervent)">
                            <ion-icon name="trash"> </ion-icon>
                        </button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-item text-wrap>Data: {{formatDate(intervent.date)}} - ({{intervent.duration}} minuti)</ion-item>
            </ion-card-header>
        </ion-card>
    </ion-list>
</ion-content>